---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
      <h1 class="post-title"><a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a></h1>
    <span class="post-date"><i class='fa fa-calendar'></i>&nbsp;
    {% assign m = post.date | date: "%-m" %}
				{{ post.date | date: "%-d. " }}
				{% case m %}
				  {% when '1' %}Januar
				  {% when '2' %}Februar
				  {% when '3' %}M&auml;rz
				  {% when '4' %}April
				  {% when '5' %}Mai
				  {% when '6' %}Juni
				  {% when '7' %}Juli
				  {% when '8' %}August
				  {% when '9' %}September
				  {% when '10' %}Oktober
				  {% when '11' %}November
				  {% when '12' %}Dezember
				{% endcase %}
				{{ post.date | date: "%Y" }}
	</span>
    <span class="post-excerpt">{{ post.excerpt }}</span>
    <a class="post-weiterlesen" href="{{ site.baseurl }}/{{ post.url }}">Weiterlesen&nbsp;<i class='fa fa-angle-double-right'></i></a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

