---
layout: page
title: Archiv - wird eh geleert

# <div class="posts">
#  {% for post in paginator.posts %}
#  <div class="post">
#    <h1 class="post-title">
#      <a href="{{ site.url }}/{{ site.baseurl }}/{{ post.url }}">
#        {{ post.title }}
#      </a>
#    </h1>
#
#    <span class="post-date">{% icon fa-calendar %}&nbsp;{{ post.date | date: "%-d. %b %Y" }}</span>
#
#    {{ post.excerpt }}
#  </div>
#  {% endfor %}
#</div>
---

<div class="catbloc" id="allposts">
<div class="category-title">Alle Beiträge der Kategorie {{ page.category }}</div>
<ul>
{% for post in site.categories[page.category] %}
	<div class="category-list">
		<a href="{{ post.url }}" class="category-list-title">{{ post.title }}</a>
		&nbsp;
		<span class="category-list-date">({{ post.date | date: "%-d. %b %Y" }})</span>
   	</div>
{% endfor %}
</ul>
</div>

