<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

<!-- add class sidebar-overlay optionally, then sidebar will not shift the full content to to the right -->
<body class="theme-base-own"> 
	
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
	<header class="masthead" style="background-image: url( '/assets/img/mountain-cover.jpg' )">
   		<h1 class="masthead-title">
			<a href="{{ site.baseurl }}/" title="Home"><span style="letter-spacing: -0.07em">S</span>wen <span style="letter-spacing: -0.18em">V</span>oigt</a>
		</h1>
		
		<nav class="masthead-topics">
			<ul>
			{% for page in site.pages_list %}
				<li><a href="{{ page[1]  }}">{{ page[0] }}</a>&nbsp;&nbsp;&nbsp;</li>
			{% endfor %}
			</ul>
        </nav>
	</header>
    
	  
      <div class="container">
        {{ content }}
      </div>
    </div>

	<a href="#" class="back-to-top less-opacity" style="display: block" >
	<i class="fa fa-chevron-circle-up"></i>
	</a>


    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>

    $('.back-to-top').css({"display": "none"});

      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    
jQuery(document).ready(function() {
	var offset = 250;
	var duration = 300;

	jQuery(window).scroll(function() {
		if (jQuery(this).scrollTop() > offset) {
			jQuery('.back-to-top').fadeIn(duration);
		} else {
			jQuery('.back-to-top').fadeOut(duration);
		}
});
 
jQuery('.back-to-top').click(function(event) {
	event.preventDefault();
	jQuery('html, body').animate({scrollTop: 0}, duration);
	return false;
	})
	
});


  
    </script>

    {% include comments.html %}
  </body>
</html>
